body{
    background-color: beige;
}
h1{
    font-size: larger;
}
header h1{
    text-align: left;
}
section{
    margin: auto;
    width:100%;
}
section article{
    padding: 0%;
}
header{
    background-color: azure;
}