body{
    background-color: beige;
}
h1{
    font-size: larger;
}
header h1{
    text-align: left;
}
section{
    margin: auto;
    width:100%;
}
section article{
    padding: 0%;
}
section article a{
    left: 100%;
    top:100%;
    width: 15%;
    height: 10
}
header{
    background-color: azure;
}